<!DOCTYPE html>
<html lang="es">
  <head>
       <meta charset="UTF-8">
       <title>CONTACTO</title>
       <meta name="description" content="esto es una página web dedicada a la venta de productos procedentes de las series de Cris Morena">
       <meta name="robots" content="index,follow">
       <meta name="keywords" content="crismorena,casiangeles,floricienta,margarita,rebeldeway,erreway,teenangels,universo argentina">
       <meta name="locality" content="europa, españa, madrid">
       <meta name="author" content="Luisa María del Villar">
       <link rel="stylesheet" href="../css/estilos1.css">
       <link rel="icon" type="image/x-icon" href="../favicon.ico">
  </head>
  <body>
    <header>
    <img src="../assets/images/others/butterfly-side-view-with-detailed-wings-svgrepo-com.svg" alt="logo de la página"
    title="logo de la página" class="logo" width="800" height="800">
    <h1 class="h1header"> Cris Morena Universo </h1>
    <img src="../assets/images/others/butterfly-side-view-with-detailed-wings-svgrepo-com.svg" alt="logo de la página2" 
    title="logo de la página2" class="logo" width="800" height="800">
    </header>
        <!--Menú de navegación donde pondré la mayoría de mis enlaces-->
    <nav>
    <input type="checkbox" id="check-nav" class="check-nav">
    <ul class="links">
      <li><a href="../index.html">inicio</a></li>
      <li><a href="../views/presupuesto.html">presupuesto</a></li>
      <li><a href="../views/contacto.html" class="in">contacto</a></li>
      <li><a href="../views/productos.html">productos</a></li>
    </ul>
    <label for="check-nav" class="label-check-nav">
      <img src="../assets/images/others/menu-svgrepo-com(1).svg" alt="imagen del menú hamburguesa" class="menu" width="800" height="800">
    </label>
    <a href="../views/productos.html" class="shopping-cart-link">
      <img src="../assets/images/others/shopping-cart.svg" alt="carrito de compra" id="shopping-cart" width="800" height="800"> 
    </a>
    </nav>
    <div class="maincontact">
     <div class="map"> 
      <img src="../assets/images/others/contacto.jpg" class="imagemap" alt="imagen del mapa de la empresa donde se observa dónde está localizada" width="880" height="520"> 
     </div>
     <div class="contact"> 
      <h1>Información de Contacto</h1>
        <h2>Ubicación</h2>
           <h3>Palace Street, Waterford, Ireland</h3>

        <h2>Télefono</h2>
            <h3>+353 1 344 1133 </h3>
        
        <h2>Correo Electrónico</h2>
             <h3>Crismorena02@quenosvolvamosaver.com</h3>
     </div>
    </div>
    <footer>
      <div class="part-left">
        <p class="copyright"> ©2025. Todos los derechos reservados | Aviso legal</p>
      </div>
      <div class="part-right">
        <img src="../assets/images/others/socialmedia/instagram.svg" alt="imagen de instagram" class="symbols" width="800" height="800">
        <img src="../assets/images/others/socialmedia/tiktok.svg" alt="imagen de tiktok" class="symbols" width="800" height="800">
        <img src="../assets/images/others/socialmedia/whatsapp.svg" alt="imagen de whatsapp" class="symbols" width="800" height="800">
        <p class="address">Dirección: Palace Street, Ireland</p>
      </div>
    </footer>
  </body>
</html>