<!DOCTYPE html>
<html lang="es">
   <head>
     <meta charset="UTF-8">
     <title>PRODUCTOS</title>
     <meta name="description" content="esto es una página web dedicada a la venta de productos procedentes de las series de Cris Morena">
     <meta name="robots" content="index,follow">
     <meta name="keywords" content="crismorena,casiangeles,floricienta,margarita,rebeldeway,erreway,teenangels,universo,argentina">
     <meta name="locality" content="europa, españa, madrid">
     <meta name="author" content="Luisa María del Villar">
     <link rel="stylesheet" href="../css/estilos1.css">
     <link rel="icon" type="image/x-icon" href="../favicon.ico">
   </head>
   <body>
      <header>
         <img src="../assets/images/others/butterfly-side-view-with-detailed-wings-svgrepo-com.svg" alt="logo de la página" title="logo de la página" class="logo" width="800" height="800">
         <h1 class="h1header"> Cris Morena Universo </h1>
         <img src="../assets/images/others/butterfly-side-view-with-detailed-wings-svgrepo-com.svg" alt="logo de la página2" title="logo de la página2" class="logo" width="800" height="800">
      </header>
                     <!--Menú de navegación donde pondré la mayoría de mis enlaces-->
      <nav>
         <input type="checkbox" id="check-nav" class="check-nav">
         <ul class="links">
           <li><a href="../index.html">inicio</a></li> <!--tener en cuenta que aquí puedo utilizar el "#" porque me enviaría a la misma página, pero es más limpio para poder usarlo en las demás-->
           <li><a href="../views/presupuesto.html">presupuesto</a></li>
           <li><a href="../views/contacto.html" >contacto</a></li>
           <li><a href="../views/productos.html" class="in">productos</a></li>
         </ul>
         <label for="check-nav" class="label-check-nav">
            <img src="../assets/images/others/menu-svgrepo-com(1).svg" alt="imagen del menú hamburguesa" class="menu" width="800" height="800">
         </label>
         <a href="../views/productos.html" class="shopping-cart-link">
             <img src="../assets/images/others/shopping-cart.svg" alt="carrito de compra" id="shopping-cart" width="800" height="800"> 
         </a>
      </nav>
      <div class="mainproduct">
         <div class="img-1">
            <img src="../assets/images/products/camisetacasiangeles2.jpeg" alt="imagen de una camiseta de casi angeles" width="259" height="194">
            <p class="description">Porque los ángeles existen, y algunos usan jeans rotos y camisetas</p>
         </div>
         <div class="img-1">
            <img src="../assets/images/products/camisetachiquititas.webp" alt="imagen de una camiseta de chiquititas " width="449"  height="500">
            <p class="description">Para quien sabe que crecer no significa dejar de crecer</p>
         </div>
         <div class="img-1">
            <img src="../assets/images/products/camisetamargarita2.webp" alt="imagen de una camiseta de margarita" width="213" height="236">
            <p class="description"> Vibrar alto, soñar fuerte y llevar un pedacito del jardín de Margarita contigo </p>
         </div>
         <div class="img-1">
            <img src="../assets/images/products/camisetamargarita.jpeg" alt="imagen de una camiseta de margarina" width="370" height="500">
            <p class="description"> Para quienes creen en la energía,el arte y la magia de las historias que curan el alma</p>
         </div>
         <div class="img-1">
            <img src="../assets/images/products/camisetasfloricienta.jpg" alt="imagen de una camiseta de floricienta" width="480" height="480">
            <p class="description"> Un toque de magia, flores y canciones que siguen sonando en el corazón</p>
         </div>
         <div class="img-1">
            <img src="../assets/images/products/camisetasrebeldeway.jpg" alt="imagen de una camiseta de rebelde way" width="600" height="600">
            <p class="description"> Actitud, rebeldía y un toque de nostalgía. Perfecta para el alma EWS que nunca creció el todo</p>
         </div>
         <div class="img-1">
            <img src="../assets/images/products/casiangelestaza.png" alt="imagen de una taza de casi angeles" width="239" height="211">
            <p class="description"> Una dosis de magia, amistad y café. El combo perfecto para que "el rulo siempre vuelva</p>
         </div>
         <div class="img-1">
            <img src="../assets/images/products/tazachiquititas.webp" alt="imagen de una taza de chiquititas" width="320" height="242">
            <p class="description"> Vuelve al hogar de los sueños con cada sorbo. Dulzura nivel orfanato encantado</p>
         </div>
         <div class="img-1">
            <img src="../assets/images/products/tazafloricienta.jpeg" alt="imagen de una taza de floricienta" width="227" height="222">
            <p class="description"> Ideal para lo días en los que la vida no parece un cuento, pero el café ayuda un poco</p>
         </div>
         <div class="img-1">
            <img src="../assets/images/products/tazamargarita2.webp" alt="imagen de una taza de margarita" width="500" height="343">
            <p class="description"> Un zorbo de calma y color. porque la magia también florece entre cafés y mañanas lentas</p>
         </div>
         <div class="img-1">
            <img src="../assets/images/products/tazarebeldeway2.webp" alt="imagen de una taza de rebelde way" width="327" height="500">
            <p class="description"> Para los que todavía cantan "Cosas Buenas" mientras  revisan el mail del trabajo</p>
         </div>
    <!--El siguiente div es a titulo informativo, es decir, no tendrá ningún tipo de enlace por poner "+"-->
         <div class="img-1" >
            <img src="../assets/images/products/mas.jpg" alt="simbolo de más" class="plus" width="1125" height="1104">
            <p class="description"> Y muchísmos productos más...</p>
         </div>
      </div>
      <footer>
         <div class="part-left">
           <p class="copyright"> ©2025. Todos los derechos reservados | Aviso legal</p>
         </div>
         <div class="part-right">
            <img src="../assets/images/others/socialmedia/instagram.svg" alt="imagen de instagram" class="symbols" width="800" height="800">
            <img src="../assets/images/others/socialmedia/tiktok.svg" alt="imagen de tiktok" class="symbols" width="800" height="800">
            <img src="../assets/images/others/socialmedia/whatsapp.svg" alt="imagen de whatsapp" class="symbols" width="800" height="800">
            <p class="address">Dirección: Palace Street, Ireland</p>
         </div>
      </footer>
   </body>
</html>